<div class="chuckapp">
  <header>
    <figure>
      <img src="assets/images/chucknorris_logo_coloured_small@2x.svg" alt="logo">
    </figure>
  </header>
  <section>
    <div class="switch-buttons">
      <button (click)="RandomClicked()" [class.active]="isRandom">Random</button>
      <button (click)="SearchClicked()" [class.active]="!isRandom">Search</button>
    </div>
    <div class="search-form">
      <label>Your name</label> 
      <input> 
      <label>Category</label> 
      <select>
        <option></option>
        <option *ngFor="let category of categories" value="{{category}}">{{category| titlecase}}</option>
      </select> 
      <button (click)="Search()">GO!</button>
    </div>
    <div class="search-result" *ngIf="answers.length">
      <div class="search-result__row" *ngFor="let answer of answers">
        <div  class="search-result__row-icon">
          <img src="{{answer.icon_url}}" alt="chuck"/>
        </div>
        <div>{{answer.value}}</div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>