<div class="chuckapp">
  <header>
    <figure>
      <img src="assets/images/chucknorris_logo_coloured_small@2x.svg" alt="logo">
    </figure>
  </header>
  <section>
    <div class="switch-buttons">
      <button class="active">Random</button>
      <button>Search</button>
    </div>
    <form class="search-form">
      <label>Your name</label> 
      <input name="username"> 
      <label>Category</label> 
      <select>
        <option></option>
        <option value="1">Category</option>
      </select> 
      <button>GO!</button>
    </form>
  </section>
</div>
<router-outlet></router-outlet>